@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400|Lato:400,700,900|Poppins:400,500,700');
@import url(../style/headerDesktop.css);
@import url(../style/contactDesktop.css);
$black: #333333;
$color: #FFCC1E;
$placeholder: #f2f2f2;
* {
    margin: 0;
    padding: 0;
    transition-duration: 200ms;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100vw;
    height: 100%;
    //background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 16.6666vh auto;
    overflow-x: hidden;
    heading {
        grid-column: 2/3;
        max-width: 1080px;
        margin: 0 auto;
        left: 0;
        width: 100%;
        h1 {
            text-align: left;
            margin-top: 64px;
            font-family: 'futura_ltheavy', sans-serif;
            font-size: 48px;
            font-weight: 400;
            color: $black;
            line-height: 64px;
        }
        h2 {
            font-family: 'Catamaran', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #4F4F4F;
        }
    }
    section {
        max-width: 1080px;
        margin: 0 auto;
        margin-top: 5vh;
        grid-column: 2/3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 32px;
        margin-bottom: 20vh;
        a {
            background-color: #f2f2f2;
            text-decoration: none;
            border-radius: 10px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: calc(50% - 20px);
            margin: 10px;
            height: 300px;
            h1 {
                font-family: 'Catamaran', sans-serif;
                text-decoration: none;
                color: $black;
                font-weight: 600;
                margin-left: 32px;
                margin-top: 16px;
                font-size: 24px;
            }
            p {
                @extend h1;
                font-weight: 400;
                margin-top: 0;
                font-size: 18px;
                width: calc(100% - 64px);
            }
        }
        a:hover {
            transform: translateY(-4px);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.33);
        }
        a:nth-of-type(1) {
            background-position: top;
            background-image: url(./clubberMockup1.jpg)
        }
        a:nth-of-type(2) {
            background-image: url(../imgs/magazineWerk.jpg)
        }
        a:nth-of-type(3) {
            background-position: right;
            background-image: url(../imgs/spacexbanner.png);
        }
    }
    main {
        max-width: 1080px;
        margin: 0 auto;
        grid-column: 2/3;
        display: grid;
        grid-gap: 32px;
        grid-template-columns: 3fr 1fr;
        margin-top: 16px;
        figure {
            grid-column: 1/2;
            background-color: black;
            height: 400px;
            width: auto;
            background-image: url(./clubberMockup1.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: white;
        }
        figure#graphicDesign {
            background-image: url(../imgs/graphicDesignBanner.jpg);
            background-position: right;
        }
        aside {
            float: right;
            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                line-height: 115%;
                font-weight: 500;
                color: $black;
                text-transform: capitalize;
            }
            p {
                font-family: 'Catamaran', sans-serif;
                font-size: 18px;
                margin-bottom: 28px;
                font-weight: 300;
            }
            a {
                text-decoration: underline;
                text-decoration-color: $color;
            }
            a:hover {
                color: $color;
            }
        }
        article {
            grid-column: 1/3;
            margin-top: 16px;
            display: grid;
            grid-template-columns: 1.4fr 2fr;
            grid-row-gap: 16px;
            grid-column-gap: 32px;
            h2 {
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                line-height: 150%;
                font-weight: 500;
                color: $black;
            }
            p {
                grid-column: 1/3;
                font-family: 'Catamaran', sans-serif;
                font-size: 18px;
                font-weight: 300;
                text-align: justify;
                margin-bottom: 24px;
                a {
                    text-decoration: underline;
                    text-decoration-color: $color;
                }
                a:hover {
                    color: $color;
                }
            }
            p#last {
                margin-bottom: 20vh;
            }
            blockquote {
                @extend p;
                text-align: center;
                font-weight: 400;
                font-size: 36px;
                text-decoration: underline;
                text-decoration-color: $color;
            }
            iframe {
                border-radius: 10px;
            }
        }
    }
    #destroyer {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 1);
        transition-duration: 400ms;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        visibility: hidden;
        opacity: 0;
        .left {
            grid-column: 2/3;
            width: 100%;
            font-family: 'futura_ltbook', sans-serif;
            ;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 75%;
            a {
                text-decoration: none;
                text-transform: none;
                text-align: left;
                display: block;
                color: $black;
                font-size: 18px;
                line-height: 48px;
                transition-duration: 200ms;
            }
            a:hover {
                color: $color;
            }
        }
        .right {
            grid-column: 3/4;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            #schluss {
                width: 30px;
                height: 30px;
                position: absolute;
                //background-color: black;
                top: 5%;
                right: 4%;
                background-image: url(../imgs/cross.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0.15;
                cursor: pointer;
            }
            #schluss:hover {
                opacity: 0.5;
            }
            form {
                width: 100%;
                input {
                    display: block;
                    width: 100%;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid #BDBDBD;
                    margin-bottom: 24px;
                    font-family: 'Catamaran', sans-serif;
                    font-size: 18px;
                    padding-left: 12px;
                    color: $black;
                }
                textarea {
                    border: 1px solid #BDBDBD;
                    border-radius: 10px;
                    display: block;
                    width: calc(100% - 12px);
                    height: 33.33vh;
                    font-family: 'Catamaran', sans-serif;
                    font-size: 18px;
                    color: $black;
                    padding: 12px;
                }
                div#sendButton {
                    margin-top: 24px;
                    width: 30%;
                    height: 50px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.25);
                    border: none;
                    color: white;
                    cursor: pointer;
                    transition-duration: 200ms;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    span {
                        font-family: 'futura_ltbook', sans-serif;
                        font-size: 16px;
                        text-align: center;
                    }
                }
                button:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
                 ::placeholder {
                    color: #bdbdbd;
                }
            }
        }
    }
}
