@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400|Lato:400,700,900|Poppins:400,500,700');
@import url(../style/headerDesktop.css);
$black: #333333;
$color: #FFCC1E;
$placeholder: #f2f2f2;
* {
    margin: 0;
    padding: 0;
    transition-duration: 200ms;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100vw;
    height: 100%;
    //background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 16.6666vh auto;
    overflow-x: hidden;
    main {
        max-width: 1080px;
        //margin: 0 auto;
        //margin-top: 64px;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-gap: 16px;
        margin-bottom: 128px;
        heading {
            grid-row: 1/2;
            grid-column: 1/3;
            margin-bottom: 0px;
            h1 {
                font-family: 'futura_ltbook', sans-serif;
                font-size: 48px;
                font-weight: 400;
                color: $black;
                margin-top: 64px;
            }
            h2 {
                font-family: 'Catamaran', sans-serif;
                font-weight: 300;
                color: $black;
                font-size: 24px;
            }
            hr {
                border-radius: 5px;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
        }
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #f2f2f2;
            min-height: 30vh;
            min-width: 100%;
            cursor: pointer;
            background-image: url(../imgs/graphicDesignBanner.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            h1 {
                text-transform: none;
                font-family: 'Catamaran', sans-serif;
                color: white;
                opacity: 0;
                text-align: center;
            }
        }
        a:hover {
            background-image: url(../imgs/graphicDesignBannerBlur.png);
        }
        a:hover h1{
            opacity: 1;
        }
    }
    #destroyer {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 1);
        transition-duration: 400ms;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        visibility: hidden;
        opacity: 0;
        .left {
            grid-column: 2/3;
            width: 100%;
            font-family: 'futura_ltbook', sans-serif;
            ;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 75%;
            a {
                text-decoration: none;
                text-transform: none;
                text-align: left;
                display: block;
                color: $black;
                font-size: 18px;
                line-height: 48px;
                transition-duration: 200ms;
            }
            a:hover {
                color: $color;
            }
        }
        .right {
            grid-column: 3/4;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            #schluss {
                width: 30px;
                height: 30px;
                position: absolute;
                //background-color: black;
                top: 5%;
                right: 4%;
                background-image: url(../imgs/cross.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0.15;
                cursor: pointer;
            }
            #schluss:hover {
                opacity: 0.5;
            }
            form {
                width: 100%;
                input {
                    display: block;
                    width: 100%;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid #BDBDBD;
                    margin-bottom: 24px;
                    font-family: 'Catamaran', sans-serif;
                    font-size: 18px;
                    padding-left: 12px;
                    color: $black;
                }
                textarea {
                    border: 1px solid #BDBDBD;
                    border-radius: 10px;
                    display: block;
                    width: calc(100% - 12px);
                    height: 33.33vh;
                    font-family: 'Catamaran', sans-serif;
                    font-size: 18px;
                    color: $black;
                    padding: 12px;
                }
                div#sendButton {
                    margin-top: 24px;
                    width: 30%;
                    height: 50px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.25);
                    border: none;
                    color: white;
                    cursor: pointer;
                    transition-duration: 200ms;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    span {
                        font-family: 'futura_ltbook', sans-serif;
                        font-size: 16px;
                        text-align: center;
                    }
                }
                button:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
                 ::placeholder {
                    color: #bdbdbd;
                }
            }
        }
    }
}
