@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400|Lato:400,700,900|Poppins:400,500,700');
$black: #333333;
$color: #FFCC1E;
$placeholder: #f2f2f2;
* {
    margin: 0;
    padding: 0;
    transition-duration: 200ms;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.placeholder {
    border-radius: 4px;
}

body {
    width: 100vw;
    height: 100vh;
    //background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 16px 4fr 16px;
    grid-template-rows: 13.3333% auto;
    overflow-x: hidden;
    #destroyer {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 1);
        transition-duration: 400ms;
        display: grid;
        grid-template-columns: 16px 1fr 1fr 16px;
        visibility: hidden;
        opacity: 0;
        .left {
            grid-column: 2/4;
            width: 100%;
            font-family: 'FutLT', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            a {
                text-decoration: none;
                text-transform: none;
                text-align: left;
                display: block;
                color: $black;
                font-size: 18px;
                line-height: 48px;
                transition-duration: 200ms;
            }
            a:hover {
                color: $color;
            }
        }
        .right {
            margin-top: 16px;
            grid-column: 2/4;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            #schluss {
                width: 30px;
                height: 30px;
                position: absolute;
                //background-color: black;
                top: 5%;
                right: 4%;
                background-image: url(../_imgs/cross.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0.15;
                cursor: pointer;
            }
            #schluss:hover {
                opacity: 0.5;
            }
            form {
                height: 100%;
                width: 100%;
                input {
                    display: block;
                    width: calc(100% - 12px);
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid #BDBDBD;
                    margin-bottom: 24px;
                    font-family: 'Catamaran', sans-serif;
                    font-size: 18px;
                    padding-left: 12px;
                    color: $black;
                }
                textarea {
                    border: 1px solid #BDBDBD;
                    border-radius: 10px;
                    display: block;
                    width: calc(100% - 24px);
                    height: 33.33vh;
                    font-family: 'Catamaran', sans-serif;
                    font-size: 18px;
                    color: $black;
                    padding: 12px;
                }
                button {
                    margin-top: 24px;
                    width: 100%;
                    height: 50px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.25);
                    border: none;
                    color: white;
                    font-family: 'FutLT', sans-serif;
                    cursor: pointer;
                    font-size: 16px;
                    transition-duration: 200ms;
                }
                button:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
                 ::placeholder {
                    color: #bdbdbd;
                }
            }
        }
    }
    header {
        grid-column: 1/4;
        background-color: white;
        grid-row: 1/2;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        nav {
            display: block;
            width: calc(100% - 32px);
            max-width: 1080px;
            margin: 0 auto;
            div.wrapper {
                grid-row: 2/3;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 8px;
                a {
                    align-self: flex-start;
                    //grid-row: 1/2;
                    font-family: 'FutLT', sans-serif;
                    text-decoration: none;
                    color: $black;
                    //grid-column: 2/3;
                    font-size: 4vmax;
                    font-weight: 900;
                    span:first-of-type {
                        color: $color;
                    }
                    span:nth-of-type(2) {
                        font-family: 'Poppins', sans-serif;
                        font-size: 14px;
                        color: #828282;
                        display: block;
                        font-weight: 400;
                    }
                }
                a#escapeHatch {
                    transition-duration: 200ms;
                    //width: 50%;
                }
                a#escapeHatch:hover {
                    color: $color;
                }
                ul {
                    align-self: flex-end;
                    //grid-column: 2/3;
                    //grid-row: 1/2;
                    text-align: right;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-end;
                    //margin-top: 4%;
                    //display: inline;
                    li {
                        list-style-type: none;
                        display: inline;
                        //float: right;
                        margin-left: 75%;
                        //height: 100%;
                        //bottom: 10px;
                        a {
                            transition-duration: 200ms;
                            font-family: 'Poppins', sans-serif;
                            font-size: 16px;
                            text-transform: lowercase;
                            font-weight: 400;
                            color: black;
                        }
                        a:hover {}
                    }
                }
            }
        }
    }
    section.over {
        grid-column: 2/3;
        max-width: 1080px;
        margin: 0 auto;
        //background-color: red;
        .container {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-template-rows: auto auto;
            grid-column-gap: 15vmin;
            //margin-bottom: 64px;
            h1#overHeader {
                display: inline;
                grid-row: 1/2;
                grid-column: 1/3;
                font-family: 'FutLT', sans-serif;
                font-size: 48px;
                font-weight: 400;
                color: $black;
                margin-top: 48px;
                
            }
            p#over {
                margin-top: 8px;
                text-align: justify;
                grid-column: 1/3;
                grid-row: 2/3;
                font-size: 18px;
                font-family: 'Catamaran', sans-serif;
                font-weight: 300;
                color: $black;
            }
            figure {
                grid-column: 2/3;
                grid-row: 1/2;
                background-image: url(../_imgs/sjoerdklatserColor.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: 24px;
                border-radius: 4px;
                img {
                    // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    section.vrijeTijd {
        height: auto;
        max-width: 1080px;
        margin: 0 auto;
        //background-color: red;
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1.5fr 1fr;
        grid-column-gap: 5vmin;
        margin-top: 64px;
        margin-bottom: 12vmax;
        .left {
            grid-column: 1/3;
            h2 {
                font-family: 'FutLT', sans-serif;
                font-size: 48px;
                font-weight: 400;
                color: $black;
                margin-bottom: 16px;
            }
            p {
                width: 100%;
                font-size: 18px;
                font-family: 'Catamaran', sans-serif;
                font-weight: 300;
                color: $black;
                text-align: justify;
            }
        }
        .wrapper {
            margin-top: 7.5vh;
            width: auto;
            height: auto;
            grid-column: 1/3;
            display: flex;
            float: right;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 5vh;
            //transform: translateX(16px);
            #lastFmContainer {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: auto;
                flex-basis: auto;
                flex-grow: 1;
                justify-content: space-between;
                align-items: stretch;
                align-content: space-between;
                
                div {
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    width: auto;
                    height: auto;
                    overflow: hidden;
                    margin-bottom: 16px;
                    margin-right: 8px;
                    a {
                        order: 1;
                        display: block;
                        text-decoration: none;
                        color: black;
                        width: 27vw;
                        height: 75px;
                        background-color: #f2f2f2;
                        background-position: center top;
                    }
                    div.overlay:hover {
                        opacity: .5;
                    }
                    a:hover {
                        filter: grayscale(1);
                        //background-color: $color;
                    }
                    heading {
                        margin-left: 4px;
                        margin-right: 4px;
                        order: 2;
                        max-width: calc(100px - 8px);
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto auto;
                        grid-row-gap: 2px;
                        h3 {
                            grid-row: 1/2;
                            grid-column: 1/2;
                            //position: absolute;
                            font-family: 'Catamaran', sans-serif;
                            color: $black;
                            font-weight: 600;
                            font-size: 12px;
                            margin-top: 4px;
                            
                        }
                        h4 {
                            @extend h3;
                            grid-row: 2/3;
                            font-weight: 400;
                            position: relative;
                            top: -6px;
                        }
                        h3.placeholder {
                            //width: 100%;
                            background-color: $placeholder;
                            grid-row: 1/2;
                            grid-column: 1/2;
                        }
                        h4.placeholder {
                            top: 0;
                            background-color: $placeholder;
                            grid-row: 2/3;
                            grid-column: 1/2;
                            width: 75%;
                            margin-bottom: 8px;
                        }
                    }
                }
                div:nth-child(3),
                div:nth-child(6) {
                    margin-right: 0;
                }
            }
        }
    }
}
