@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400|Lato:400,700,900|Poppins:400,500,700');
@import url(../style/contactDesktop.css);
@import url(../style/headerDesktop.css);
$black: #333333;
$color: #FFCC1E;
$placeholder: #f2f2f2;
@keyframes fadeInUp {
    from {
        transform: translateY(8px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(8px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    transition-duration: 200ms;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.placeholder {
    border-radius: 4px;
}

body {
    width: 100vw;
    height: 100%;
    //background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 16.6666vh auto;
    overflow-x: hidden;
    article.over {
        grid-column: 2/3;
        max-width: 1080px;
        margin: 0 auto;
        //background-color: red;
        .container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto auto;
            grid-column-gap: 15vmin;
            margin-bottom: 64px;
            h1#overHeader {
                animation: fadeInUp 400ms;
                display: inline;
                grid-row: 1/2;
                grid-column: 1/3;
                font-family: 'futura_ltbook', sans-serif;
                font-size: 48px;
                font-weight: 400;
                color: $black;
                margin-top: 64px;
            }
            h1#overHeader:last-of-type {
                //margin-left: 115px;
            }
            p#over {
                animation: fadeInUp 800ms;
                animation-delay: 200ms;
                opacity: 0;
                animation-fill-mode: forwards;
                margin-top: 8px;
                text-align: justify;
                grid-column: 1/2;
                grid-row: 2/3;
                font-size: 18px;
                font-family: 'Catamaran', sans-serif;
                font-weight: 300;
                color: $black;
            }
            figure {
                grid-column: 2/3;
                grid-row: 2/3;
                background-image: url(../imgs/sjoerdklatserColor.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: $placeholder;
                animation: fadeInRight 800ms;
                animation-delay: 200ms;
                animation-fill-mode: forwards;
                opacity: 0;
                img {
                    // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    section.vrijeTijd {
        height: auto;
        max-width: 1080px;
        margin: 0 auto;
        //background-color: red;
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1.5fr 1fr;
        grid-column-gap: 5vmin;
        margin-top: 64px;
        margin-bottom: 12vmax;
        .left {
            grid-column: 1/2;
            h2 {
                font-family: 'futura_ltbook', sans-serif;
                font-size: 48px;
                font-weight: 400;
                color: $black;
                margin-bottom: 16px;
                animation: fadeInUp 800ms;
                animation-delay: 400ms;
                animation-fill-mode: forwards;
                opacity: 0;
            }
            p {
                animation: fadeInUp 800ms;
                width: 100%;
                font-size: 18px;
                font-family: 'Catamaran', sans-serif;
                font-weight: 300;
                color: $black;
                text-align: justify;
                
            }
        }
        .wrapper {
            width: auto;
            height: 100%;
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            transform: translateX(16px);
            #lastFmContainer {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: auto;
                flex-basis: auto;
                flex-grow: 1;
                justify-content: flex-end;
                align-items: stretch;
                align-content: space-between;
                div {
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    width: auto;
                    height: auto;
                    overflow: hidden;
                    margin-bottom: 16px;
                    margin-right: 16px;
                    a {
                        order: 1;
                        display: block;
                        text-decoration: none;
                        color: black;
                        width: 150px;
                        height: 125px;
                        background-color: #f2f2f2;
                        background-position: center top;
                    }
                    div.overlay:hover {
                        opacity: .5;
                    }
                    a:hover {
                        filter: grayscale(1);
                        //background-color: $color;
                    }
                    heading {
                        margin-left: 8px;
                        margin-right: 8px;
                        order: 2;
                        max-width: calc(150px - 16px);
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto auto;
                        grid-row-gap: 4px;
                        h3 {
                            grid-row: 1/2;
                            grid-column: 1/2;
                            //position: absolute;
                            font-family: 'Catamaran', sans-serif;
                            color: $black;
                            font-weight: 600;
                            font-size: 14px;
                            margin-top: 4px;
                        }
                        h4 {
                            @extend h3;
                            grid-row: 2/3;
                            font-weight: 400;
                            position: relative;
                            top: -6px;
                        }
                        h3.placeholder {
                            //width: 100%;
                            background-color: $placeholder;
                            grid-row: 1/2;
                            grid-column: 1/2;
                        }
                        h4.placeholder {
                            top: 0;
                            background-color: $placeholder;
                            grid-row: 2/3;
                            grid-column: 1/2;
                            width: 75%;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
}
