#contactButton {
    position: fixed;
    background-color: #FFCC1E;
    height: 64px;
    width: 64px;
    bottom: 0;
    right: 0;
    margin-right: 32px;
    margin-bottom: 32px;
    border-radius: 1000%;
    background-image: url(./imgs/mailIcon.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.15);
    transition-duration: 200ms;
    opacity: 0;
}
#contactButton:hover {
    transform: scale(1.1);
    transform-origin: bottom right;
    opacity: 1;
}